export(grassp_as_msnset)
export(grassp_msnset_spec)
export(grassp_write_msnset)
importFrom(anndataR,AnnData)
importFrom(anndataR,read_h5ad)
importFrom(anndataR,write_h5ad)
importFrom(Biobase,exprs)
importFrom(Biobase,fData)
importFrom(Biobase,pData)
importFrom(MSnbase,processingData)
importFrom(methods,is)
importFrom(methods,new)
importFrom(methods,validObject)
